version: '3.8'

services:
  backend:
    build: ./server
    container_name: backend_container
    restart: always
    environment:
      - PORT=5000
      - SECRET_KEY=MONERO_IS_KING_2025
      - FRONTEND_URL=http://your-domain.com
    networks:
      - app-network

  frontend:
    build: ./client
    container_name: frontend_container
    restart: always
    networks:
      - app-network

  nginx-proxy:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

